In [30]:
# Check the Python Version

import sys
print("the version is ",sys.version)

the version is  3.11.5 | packaged by Anaconda, Inc. | (main, Sep 11 2023, 13:26:23) [MSC v.1916 64 bit (AMD64)]

In [9]:
# Practice on writing comments

print('Hello, Python!') # This line prints a string
# print('Hi')

Hello, Python!

In [10]:
# Print string as error message

print("Hello, Python!")

Hello, Python!

<h2 id="types_objects" align="center">Types of objects in Python</h2>

In [31]:
# Type of 122

type(122)

int

In [32]:
# Type of 2.333

type(2.33)

float

In [33]:
# Type of "Hello, Python 101!"

type("Hello, python!")

str

In [16]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
type(12.0)

float

<h4>Converting integers to floats</h4>
<p>Let's cast integer 2 to float:</p>

In [34]:
# Convert 2 to a float

float(4)

4.0

In [35]:
# Convert integer 2 to a float and check its type

type(float(4))

float

<h4>Converting from strings to integers or floats</h4>

<p>Sometimes, we can have a string that contains a number within it. If this is the case, we can cast that string that represents a number into an integer using <code>int()</code>:</p>

In [36]:
# Convert a string into an integer

int('11')

11

<p>What is the data type of the result of: <code>6 / 2</code>?</p>

In [37]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
type(10/6)

float

In [38]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
type(6//4)

int

<hr>

<h3 id="var">Variables</h3>

In [39]:
# Store value into variable

x = 33 + 33 + 36 + 31

In [40]:
# Print out the value in variable

x

133

<p>We can also perform operations on <code>x</code> and save the result to a new variable:</p>

In [ ]:
# Use another variable to store the result of the operation between variable and value

y = x / 60
y

In [ ]:
# Overwrite variable with new value

x = x / 60
x