## Extract information from the given web site

In [1]:
#this url contains the data you need to scrape
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/datasets/Programming_Languages.html"

In [11]:

from bs4 import BeautifulSoup
import requests

In [3]:
data=requests.get(url).text

Create a soup object

In [5]:
soup=BeautifulSoup(data,"html.parser")

Scrape the `Language name` and `annual average salary`.

In [31]:
table = soup.find('table') #in html table is represented by the tag <table>
data=[]
#Get all rows from the table
for row in table.find_all('tr'): # in html table row is represented by the tag <tr>
    # Get all columns in each row.
    cols = row.find_all('td') # in html a column is represented by the tag <td>
    language_name = cols[1].getText() # store the value in column 2 as language_name
    annual_average_salary = cols[3].getText() # store the value in column 4 as annual_average_salary
    print("{}-{}".format(language_name,annual_average_salary))
    data.append([language_name,annual_average_salary])

Language-Average Annual Salary
Python-$114,383
Java-$101,013
R-$92,037
Javascript-$110,981
Swift-$130,801
C++-$113,865
C#-$88,726
PHP-$84,727
SQL-$84,793
Go-$94,082

Save the scrapped data

In [29]:
import pandas as pd
df=pd.DataFrame(data)
new_header = df.iloc[0] #grab the first row for the header
df = df[1:] #take the data less the header row
df.columns = new_header #set the header row as the df header
df.to_csv("popular-languages.csv")
df=pd.read_csv("popular-languages.csv",index_col=0)
df.head(12)

      Language Average Annual Salary
1       Python              $114,383
2         Java              $101,013
3            R               $92,037
4   Javascript              $110,981
5        Swift              $130,801
6          C++              $113,865
7           C#               $88,726
8          PHP               $84,727
9          SQL               $84,793
10          Go               $94,082